/* Кнопки */
/*Стрелочка вверх */
#pageTop{
	background: #689F38;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	color:#fff;
	padding:10px;
	position:fixed;
	bottom:20px;
	right:10px;
	text-align: center;
	text-decoration:none;
	z-index: 9999;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	}
	
#pageTop:hover{
	background: #8BC34A;
	color: #fff;
	-webkit-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
	transition: all 0.3s ease;
	}
/* Конец Стрелочка вверх */	
	
/*　Плоская кнопка */
.flatbutton	{
	width: 100%;
		text-align: left;
		color: #757575;
		margin:10px auto 10px auto;
	}
		.flatbutton a {
			padding: 10px;
			color: #757575;
			border: 1px solid rgba(0,0,0,.14);
			border-radius: 5px;
		}
		.flatbutton a:hover {
			padding: 10px;
			color: #757575;
			box-sizing: border-box;
			box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
			border-radius: 5px;
		}
/* Конец Плоская кнопка */
/* Конец Кнопки */