@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


#contents p {
	margin-bottom:20px;
	display: inherit;
	text-align: left;
}

#contents .normal {
	margin-bottom:20px;
	display: block;
	float: left;
	width: 100%;
}

#contents .indent > p:last-child,
#contents .indent > table:last-child,
#contents .indent > ul:last-child,
#contents .indent > ol:last-child  {
	margin-bottom: 10px;
}

#contents ol,
#contents ul {
	margin-bottom: 30px;
	margin-left: 0;
	float: left;
	width: 100%;
}

#contents ul li {
	list-style-type: disc;
	margin-left: 20px;
	width: 90%;
	width : -webkit-calc(100% - 20px) ;
	width: -moz-calc(100% - 20px);
	width: calc(100% - 20px);
	float: left;
	text-align: left;
}

#contents ol li {
	list-style: decimal;
	margin-left: 25px;
	width: 90%;
	width : -webkit-calc(100% - 25px) ;
	width: -moz-calc(100% - 25px);
	width: calc(100% - 25px);
	float: left;
}

#contents sup {
	font-size: 71.428%;
}

#contents strong,
#contents strong a {
	font-weight: bold;
}


/* 見出し設定  */

/* コンテンツページタイトル */
.conTitle {
	width:100%;
	font-size: 171.4%;
	padding:15px 0 20px 0;
	overflow:hidden;
	font-family: 'Noto Sans Japanese', serif;
	font-weight: bold;
	float: left;
	text-align: left;
	color: #61AC2A;
}

	.conTitle span {
		font-family: 'Roboto', sans-serif;
		font-weight:normal;
		font-size:58.33%;
		color:#666666;
		padding-left:1em;
	}

/*  緑ラインで英語を入れる時用 */
.topHeader {
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 20px 0;
	background: url(../img/line.png) left center repeat-x;
	font-family: 'Roboto', sans-serif;
	color: #61AC2A;
}

	.topHeader span {
		background: #FFF;
		padding: 0 8px;
	}

/*  緑ラインで日本語を入れる時用 */
.conHeader {
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 20px 0;
	background: url(../img/line.png) left center no-repeat;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif\9;
	font-family: 'Noto Sans Japanese', serif;
	font-weight:400;
	color: #61AC2A;
}

	.conHeader span {
		background: #FFF;
		padding: 0 8px;
	}

@media print {
	.topHeader,
	.conHeader {
			font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
}

/* 見出し２つレベルが下がるもの */
.conSubHeader {
	width:100%;
	font-size: 128.6%;
	margin: 0 0 20px 0;
	padding:8px 0 10px 10px;
	overflow:hidden;
	font-family: 'Noto Sans Japanese', serif;
	font-weight: normal;
	float: left;
	text-align: left;
	color: #666666;
	border-left: 6px solid #61AC2A;
	box-sizing: border-box;
}















#contents .boldTitleL {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
}

#contents .boldTitleM {
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
}


/* ========================== テーブル設定 ========================== */
#contents table {
	margin-bottom: 10px;
	float: left;
	width: 100%;
	border-collapse: collapse;
	border: solid 2px #999999;
}

	#contents table ul,
	#contents table ol {
		margin-bottom:0;
	}
	
	#contents table ul li,
	#contents table ol li {
		font-size:100%;
	}
	
	#contents table ul li:last-child,
	#contents table ol li:last-child {
		margin-bottom:0;
	}

	#contents table .link_list1 li ul {
		margin:0;
	}

th,td {
	padding:6px 7px;
	vertical-align:top;
	border-bottom: solid 1px #9E9E9F;
	border-right: solid 1px #9E9E9F;
}

th {
	/*padding:12px 7px;*/
	background: #EDF4EF;
	text-align: left;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}

td {
	background:#FFFFFF;
}

#contents .alternate_table tr:nth-child(2n) td {
		background: #F3F1EE none repeat scroll 0 0;
}

th.pink,
td.pink {
	background:#F4DCE5;
	color: #C8446F;
	font-weight: bold;
}

th.blue,
td.blue {
	background:#D6E8F1;
	color: #4291C9;
	font-weight: bold;
}

th.bgPink,
td.bgPink {
	background: #F0E1EE;
}

td.bggy,
.cel_gl {
	background:#E8E8E8;
	color: #282828;
}

.cel_gl2 {
	background: #666;
	color: #FFF;
}

#contents table p {
	width: 100%;
	display: inline-block;
	margin-bottom: 0;
}

/* ========================== リンク ========================== */
.link_list1 {
	margin: 0 0 30px 0 !important;
	width: 100%;
}

.link_list1 li {
	list-style: none !important;
	margin-left: 0 !important;
	width: 100% !important;
}

.link_list1 a {
	margin:0 0 0 5px;
	padding:0;
	text-decoration:none;
}

	.link_list1 a:before {
		font-family:'FontAwesome';
		content:'\f04b';
		padding:0 5px 0 0;
		color: #66A04A;
		font-size:90%;
	}

	.link_list1 a:hover {
		text-decoration:underline;
	}

	.link_list1 a:hover:before {
		font-family:'FontAwesome';
		content:'\f04b';
		padding:0 5px 0 0;
		color: #669CB2;
		font-size:90%;
		text-decoration: none !important;
	}





/* ========================== 汎用設定 ========================== */

/*画像関連*/

a img {
	border:none;
	vertical-align: middle;
}

.w100,
.w100 img {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
}

.capImgL {
	width: auto;
	display: inline-block;
	overflow: hidden;
	float: left;
	font-size: 11px;
	text-align: center;
	margin: 0 20px 20px 0;
}
.capImgR {
	width: auto;
	display: inline-block;
	overflow: hidden;
	float: right;
	font-size: 11px;
	text-align: center;
	margin: 0 0 20px 20px;
}

.photoR {
	float:right;
	padding:5px;
	border:solid 1px #cccccc;
	background:#FFFFFF;
	margin: 0 0 20px 20px;
}

.photoL {
	float:left;
	padding:5px;
	border:solid 1px #cccccc;
	background:#FFFFFF;
	margin: 0 20px 20px 0;
}

.photoLCap {
	float: left;
	width: auto;
	margin: 0 20px 20px 0;
	text-align: center;
	font-size: 11px;
}

.photoRCap {
	float: right;
	width: auto;
	margin: 0 0 20px 20px;
	text-align: center;
	font-size: 11px;
}

.photoLCap img,
.photoRCap img {
	padding: 5px;
	border:solid 1px #cccccc;
	background:#FFFFFF;
	margin-bottom: 5px;
}
.img_4clm_wrap,
.img_3clm_wrap,
.img_2clm_wrap,
.img_1clm_wrap {
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
}

.img_box {
	float: left;
	margin-right: 2%;
	font-size: 11px;
	line-height: 18px;
	text-align: center;
}

.img_4clm_wrap .img_box {
	width: 23.5%;
}

.img_4clm_wrap .img_box:nth-child(4n) {
	margin-right: 0;
}


.img_3clm_wrap .img_box {
	width: 32%;
}

.img_3clm_wrap .img_box:nth-child(3n) {
	margin-right: 0;
}

.img_2clm_wrap .img_box {
	width: 48%;
	margin-right: 4%;
}

.img_2clm_wrap .img_box:nth-child(even) {
	margin-right: 0;
}

.img_box img {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 5px;
}

.img_1clm_wrap .img_box {
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	float: none;
}

.img_1clm_wrap .img_box img {
	width: auto;
	max-width: 100%;
	float: none;
	overflow: hidden;
}

.caption_fullwidth {
	width: 100%;
	font-size: 11px;
	line-height: 18px;
	text-align: center;
}


/*テキスト装飾*/

#contents .notes {
	width: 100%;
	background: #F8EEE2;
	margin-bottom: 30px;
	float: left;
	overflow: hidden;
	border-radius: 20px;
}

#contents .notes strong {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 15px 5px;
	border-bottom: solid 3px #FFFFFF;
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
}

#contents .notes p {
	width: 100%;
	box-sizing: border-box;
	padding: 5px 15px;
	float: left;
	margin-bottom: 5px;
}

#contents .notes .notesList {
	list-style:none;
	margin:10px 0;
}

#contents .notes .notesList li {
	list-style:none;
	margin-bottom:5px;
}

#contents .notes .notesList li:before {
	content:"●";
	color:#6A2D55;
	margin-left:-1em;
}


#contents .notes p.only {
	margin: 10px 0;
}


#contents .notes ul,
#contents .notes ol {
	width: 100%;
	box-sizing: border-box;
	padding: 5px 15px;
	float: left;
	margin-bottom: 5px;
}

#contents .notesB {
	box-sizing: border-box;
	width: 100%;
	float: left;
	border: solid 1px #1AC1B0;
	padding: 20px 30px;
	margin-bottom:20px;
	}

	#contents .notesB p {
		margin-bottom: 0;
	}

	#contents .notesB ul,
	#contents .notesB ol {
		margin-bottom: 0;
	}

.type20pxMin {
	font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
	font-size: 153.8%;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 1.22222;
}

.small {
	font-size: 85.71% !important;
}
.big {
	font-size: 114.29% !important;
}

.biggest {
	font-size: 142.9% !important;
}

.al_l {
	text-align: left !important;
}

.al_r {
	text-align: right !important;
}

.talC {
	text-align: center !important;
}

.valM {
	vertical-align: middle;
}

.valT {
	vertical-align: top !important;
}

.txtRed {
	color: #C6002F !important;
}

.txtBlue {
	color: #1858CE !important;
}

.txtNavy {
	color: #15295C !important;
}

.txtSky {
	color: #4291c9 !important;
}

.txtGray {
	color: #888 !important;
}

.txtPink {
	color: #C8446F !important;
}

.txtGreen {
	color: #006600 !important;
}

.txtBrown {
	color: #59310D;
}

.fl_l {
	float: left !important;
}
img.fl_l {
	margin: 0 15px 10px 0
}

.fl_r {
	float: right !important;
}
img.fl_r {
	margin: 0 0 15px 10px;
}

#contents .txtUline {
	text-decoration:underline !important;
}

#contents .txtStrike {
	text-decoration: line-through !important;
}

#contents .txtItalic {
	font-style: italic !important;
}

.font10px {
	font-size: 10px !important;
}
.font11px {
	font-size: 11px !important;
}
.font12px {
	font-size: 12px !important;
}
.font16px {
	font-size: 16px !important;
}
.font18px {
	font-size: 18px !important;
}
.font22px {
	font-size: 22px !important;
}
.font28px {
	font-size: 28px !important;
}


/*余白関係*/
.mrgn10 {
	margin: 10px !important;
}
.mrgn20 {
	margin: 20px !important;
}

.mrgnB0 {
	margin-bottom:0 !important;
}
.mrgnB1 {
	margin-bottom:1px !important;
}

.mrgnB10 {
	margin-bottom:10px !important;
}

.mrgnB20 {
	margin-bottom:20px !important;
}

.mrgnB30 {
	margin-bottom:30px !important;
}

.mrgnB40 {
	margin-bottom:40px !important;
}

.mrgnB50 {
	margin-bottom:50px !important;
}

.mrgnB100 {
	margin-bottom:100px !important;
}

.mrgnB600 {
	margin-bottom:600px !important;
}

.mrgnT0 {
	margin-top:0 !important;
}

.mrgnT10 {
	margin-top:10px !important;
}

.mrgnT20 {
	margin-top:20px !important;
}

.mrgnT30 {
	margin-top:30px !important;
}

.mrgnT40 {
	margin-top:40px !important;
}

.mrgnT50 {
	margin-top:50px !important;
}

.mrgnR0 {
	margin-right: 0 !important;
}

.mrgnR10 {
	margin-right: 10px !important;
}

.mrgnR20 {
	margin-right: 20px !important;
}

.mrgnR30 {
	margin-right: 30px !important;
}

.mrgnR40 {
	margin-right: 40px !important;
}

.mrgnR50 {
	margin-right: 50px !important;
}
.mrgnL0 {
	margin-left: 0 !important;
}

.mrgnL10 {
	margin-left: 10px !important;
}

.mrgnL20 {
	margin-left: 20px !important;
}

.mrgnL30 {
	margin-left: 30px !important;
}

.mrgnL40 {
	margin-left: 40px !important;
}

.mrgnL50 {
	margin-left: 50px !important;
}

.pdngT40 {
	padding-top:40px !important;
}

.pdngL0 {
	padding-left:0 !important;
}

.borderB0 {
	border-bottom: none !important;
}
/*高さ指定*/
.h60 {
	height: 60px !important;
}

.h350 {
	height: 350px !important;
}

.h370 {
	height: 370px;
}

.h390 {
	height: 390px;
}

.h400 {
	height: 400px !important;
}

/*背景関係*/
.bgBK {
	background: #282828 !important;
}

.bgYe {
	background-color: #FFFF00 !important;
}

.bgWh {
	background-color: #FFF !important;
}

#contents .flexwrap .box-black{
	background-color: rgb(40, 40, 40);
	color: white;
}


/*その他*/
.overflowH {
	overflow: hidden !important;
}

.verticalM {
	vertical-align: middle !important;
}






/*トップページ用*/

#topMain {
	margin: 0 0 30px 0;
}

#topBanner {
	width:100%;
	float: left;
	clear: both;
}

#topBanner ul {
	display: flex;
}

	#topBanner li {
		margin-left: 0 !important;
		list-style: none !important;
}

	#topBanner li {
		flex-direction: row;
		justify-content: space-between;
}

#topPro {
	width:100%;
	float: left;
	clear: both;
}

#topPro ul {
	display: flex;
}

	#topPro li {
		margin-left: 0 !important;
		list-style: none !important;
	}

	#topPro li {
		width:14%;
		height: 200px;
		margin: 0 1% !important;
		border: 1px solid #61AC2A;
		flex-direction: row;
		justify-content: space-between;
}

#fNaviWrap {
	width:100%;
	margin: 50px 0 0 0;
	padding: 20px 0;
	border-top: 1px solid #666666;
}

#fNavi {
	width:950px;
	margin: 0 auto;
	display: flex;
}

#fNavi .list {
	flex: auto;
	font-size: 85.7%;
}

#fNavi .list strong {
	font-size: 116.7%;
	font-family: 'Noto Sans Japanese', serif;
	font-weight: bold !important;
	width: 100%;
	margin: 0 0 5px 0;
	float: left;
	clear: both;
}

#fNavi .list a {
	text-decoration: none;
}

#fNavi .list a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 767px) {

	#topBanner ul {
		display: block;
	}

	#topBanner li {
		width: 100%;
		float: left;
		clear: both;
		margin: 0 0 20px 0;
	}

	#topPro ul {
		display: block;
	}

	#topPro li {
		width: 50%;
		float: left;
		clear: both;
		margin: 0 0 20px 8px !important;
	}

	#fNavi {
		display: table;
	}

	#fNavi .list {
		flex: none;
	}

	#fNavi .list {
		width: 80%;
		float: left;
		clear: both;
		margin: 0 0 10px 2%;
	}

	#fNavi .list li {
		margin-left: 10px;
	}

}




/* プロジェクト */

#contents .phBox {
	width: 100%;
	float: left;
	overflow: hidden;
}

#contents .phList {
	list-style: none;
	margin-left: 0;
	width: 31.9%;
	margin: 0 2% 3% 0;
}

	#contents .phList:nth-child(3n) {
		margin-right: 0;
	}

	#contents .phList img {
		width: 100%;
		padding: 0 0 8px 0;
	}

	#contents .phList a:hover img {
		opacity: 0.5;
	}




