@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,body {
	font-family: 'Ubuntu',"Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 22px;
}

hr {
	border: none;
	border-top: 1px dotted #939393;
	margin: 10px 0;
	width: 100%;
	height: 1px;
	float: left;
}

a {
	text-decoration: none;
	color:#61ac2a;
}

a:hover {
	text-decoration: none;
	color:#61ac2a;
}

p {
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	display: block;background-color: none;
}

div {
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
}

#contact_main {
	float: left;
	max-width: 30%;
}

img {
	margin: 0 auto;
	max-width: 100%;
}
/* Для логотипов университетов*/
img #logo_uni {
	margin: 250 auto;
	max-width: 100%;
	padding: 15px;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
	}
}

/* Hedder */

header {
	width: 100%;
	background: #8BC34A;
}

#logo {
	font-family:'Abril Fatface', cursive;'Russo One';
	content:'\f04b';
	padding:15px 25px 5px 0;
	color: #FFF;
	font-size:70px;
}

#logo2 {
	font-family:'Abril Fatface', cursive;'Russo One';
	padding-top: 25px;
	color: #DCEDC8;
	font-size:25px;
}

#header {
	min-width: 350px;
	height: 150px;
	margin: 0 auto;
	padding: 22px 0 0 0;
	text-align: center;
	position: relative;
}

/*Флаги для смены языка */
#header .en {
	position: absolute;
	right: 20px;
	top: 160px;
	color: #FFF;
}

	#header .en a {
		color: #FFF;
		text-decoration: none;	
	}
		
.flag {
		width: 25px;
		height: 25px;
		border-radius: 25px;
		color:#fff;
		padding:0px;
		box-sizing: border-box;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.flag:hover {
	width: 50px;
	height: 50px;
	transition: all 0.3s ease;
	}	
/* Hedder end */

/* Navigation */

nav {
	width: 100%;
}

@media screen and (max-width: 540px) {
    nav {
	display: block;
	margin: auto;
	}
}

/* start mini menu */

#minimenu {
	display: none;
	position:absolute;
	width: 140px;
	top:140px;
	left:20px;
	text-decoration:none;
	z-index: 9999;
}

@media (max-width: 540px) {
  nav li     { display: none; }
  #minimenu { 
	display: block;
	}
}

#minimenu a {color: #fff;}
#minimenu a:hover {color: #fff; text-decoration:none;}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
	
}
.menu .menu-item {
    background:#689F38;
	padding: 5px;
	width: 50px;
	height:50px;
	border-radius: 25px;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	transition: transform .2s;
}
.menu .menu-item a {
    display: block;
    padding: 5px 10px;
}
.menu .submenu {
    display: none;
    position: absolute;
	left:20px;
	top:60px;
	background: #689F38;
    list-style: none;
    border-radius: 5px;
	margin: auto;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	transition: transform .2s;
}
.submenu::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 5px; top: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #689F38; /* Добавляем треугольник */
   }
.menu .menu-item:hover .submenu {
    display: block;
	
}
.menu .submenu-item {
    margin: 0;
    padding: 5px 10px;
}

@media (max-width: 540px) {
  nav li     { display: none; }
  nav select { 
	display: inline-block;
	color: #fff;
	background: #689F38;
	width: 150px;
	border-radius: 25px;
	padding:15px;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	transition: transform 0.3s easy;
	}
}

/* stop */

#gNavi {
	width: 100%;
	background: #4CAF50;
	color: #FFF;
	padding:0;
}

#gNavi ul {
	max-width: 570px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#gNavi li {
	flex: auto;
	text-align: center;
	padding:10px;
}

#gNavi li a {
	color: #FFF;
	overflow: hidden;
	display: block;
}

#gNavi li a:hover {
	color: #fff;
	
}

#gNavi li a.current {
	color: #fff;
}

/* класс zoom Для меню и флагов */
.zoom {
    padding: 5px;
    transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

/*Флаги для смены языка */	
.flag {
		width: 25px;
		height: 25px;
		border-radius: 25px;
		color:#fff;
		padding:0;
		margin-left: 5px;
		box-sizing: border-box;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.flag:hover {
	width: 50px;
	height: 50px;
	transition: all 0.3s ease;
	}

/* Настройки содержимого контента */
	
/* Класс Контент */
.contents {
	max-width: 950px;
	margin: 30px auto 0 auto;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

@media screen and (max-width: 767px) {

.contents {
	width: calc(100% - 16px);
	margin-top:15px;
	float: left;
	clear: both;
	margin: 8px;
}

.contents img {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

}
.contents p {
	margin-bottom:20px;
	display: inherit;
	text-align: left;
	color: #757575;
}

.contents .normal {
	margin-bottom:20px;
	display: block;
	float: left;
	width: 100%;
}

.contents .indent > p:last-child,
.contents .indent > table:last-child,
.contents .indent > ul:last-child,
.contents .indent > ol:last-child  {
	margin-bottom: 10px;
}

.contents ol,
.contents ul {
	font-family: 'Ubuntu','Roboto','Noto Sans Japanese', serif;
	color: #757575;
	margin-bottom: 30px;
	margin-left: 0;
	float: left;
	width: 100%;
}

.contents ul li {
	list-style-type: disc;
	margin-left: 20px;
	width: 90%;
	width : -webkit-calc(100% - 20px) ;
	width: -moz-calc(100% - 20px);
	width: calc(100% - 20px);
	float: left;
	text-align: left;
}

.contents ol li {
	list-style: decimal;
	margin-left: 25px;
	width: 90%;
	width : -webkit-calc(100% - 25px) ;
	width: -moz-calc(100% - 25px);
	width: calc(100% - 25px);
	float: left;
}

.contents sup {
	font-size: 71.428%;
}

.contents strong,
.contents strong a {
	font-weight: bold;
}

/* Заголовок страницы контента */
.conTitle {
	width: 100%;
	font-size: 171.4%;
	padding:15px 0 20px 0;
	overflow:hidden;
	font-family: 'Ubuntu','Roboto','Noto Sans Japanese', serif;
	font-weight: bold;
	float: left;
	text-align: left;
	color: #212121;
}


/*  Для вставки текста с зеленой линией */
.topHeader {
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 20px 0;
	background: url(../img/line.png) left center repeat-x;
	font-family: 'Ubuntu','Roboto','Noto Sans Japanese', serif;
	color: #61AC2A;
}

	.topHeader span {
		background: #FFF;
		padding: 0 8px;
	}

/*  Для перевода японцев в зеленую линию */
.conHeader {
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 20px 0;
	background: url(../img/line.png) left center no-repeat;
	font-family:'Ubuntu','Roboto','Noto Sans Japanese', serif;
	font-family: 'Noto Sans Japanese', serif;
	font-weight:400;
	color: #61AC2A;
}

	.conHeader span {
		background: #FFF;
		padding: 0 8px;
	}

@media print {
	.topHeader,
	.conHeader {
			font-family:'Ubuntu','Roboto','Noto Sans Japanese', serif;
	}
}

/* Два заголовка 2 уровень */
.conSubHeader {
	width:100%;
	font-size: 128.6%;
	margin: 0 0 20px 0;
	padding:8px 0 10px 10px;
	overflow:hidden;
	font-family: 'Noto Sans Japanese', serif;
	font-weight: normal;
	float: left;
	text-align: left;
	color: #666666;
	border-left: 6px solid #61AC2A;
	box-sizing: border-box;
}

.contents .boldTitleL {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
}

.contents .boldTitleM {
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
}


/* Настройка таблицы  */
.conteiner2 table {
	margin-bottom: 10px;
	float: left;
	width: 100%;
	border-collapse: collapse;
	border: solid 2px #999999;
}

	.conteiner2 table ul,
	.conteiner2 table ol {
		margin-bottom:0;
	}
	
	.conteiner2 table ul li,
	.conteiner2 table ol li {
		font-size:100%;
	}
	
	.conteiner2 table ul li:last-child,
	.conteiner2 table ol li:last-child {
		margin-bottom:0;
	}

	.conteiner2 table .link_list1 li ul {
		margin:0;
	}

th,td {
	padding:6px 7px;
	vertical-align:top;
	border-bottom: solid 1px #9E9E9F;
	border-right: solid 1px #9E9E9F;
}

th {
	/*padding:12px 7px;*/
	background: #EDF4EF;
	text-align: left;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}

td {
	background:#FFFFFF;
}

.conteiner2 .alternate_table tr:nth-child(2n) td {
		background: #F3F1EE none repeat scroll 0 0;
}

th.pink,
td.pink {
	background:#F4DCE5;
	color: #C8446F;
	font-weight: bold;
}

th.blue,
td.blue {
	background:#D6E8F1;
	color: #4291C9;
	font-weight: bold;
}

th.bgPink,
td.bgPink {
	background: #F0E1EE;
}

td.bggy,
.cel_gl {
	background:#E8E8E8;
	color: #282828;
}

.cel_gl2 {
	background: #666;
	color: #FFF;
}

.conteiner2 table p {
	width: 100%;
	display: inline-block;
	margin-bottom: 0;
}

/* Настройки ссылкок */
.link_list1 {
	margin: 0 0 30px 0 !important;
	width: 100%;
}

.link_list1 li {
	list-style: none !important;
	margin-left: 0 !important;
	width: 100% !important;
}

.link_list1 a {
	margin:0 0 0 5px;
	padding:0;
	text-decoration:none;
}

	.link_list1 a:before {
		font-family:'FontAwesome';
		content:'\f04b';
		padding:0 5px 0 0;
		color: #66A04A;
		font-size:90%;
	}

	.link_list1 a:hover {
		text-decoration:underline;
	}

	.link_list1 a:hover:before {
		font-family:'FontAwesome';
		content:'\f04b';
		padding:0 5px 0 0;
		color: #669CB2;
		font-size:90%;
		text-decoration: none !important;
	}

/* Класс контейнер для содержимого conteiner2 */
.conteiner {
	max-width: 950px;
	margin: 10px auto 0 auto;
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content:center;
	text-align: center;
	
}	

.conteiner p{
	text-align: left;
}

.conteiner img {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.conteiner2 {
	min-width:350px;
	min-height:350px;
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

#topCont {
	flex: 1 1 150px;
}
/* Для заполнения пустоты */
.fill_empty {
	min-height: 60vh;
}

/*Изображение*/

a img {
	border:none;
	vertical-align: middle;
}

/*class для картинок с закруглением*/
img.pic {
	margin: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

#MainBild	{
	max-width: 400px;
}
	
/*Стрелочка вверх */
#pageTop{
	background: #689F38;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	color:#fff;
	padding:10px;
	position:fixed;
	bottom:20px;
	right:10px;
	text-align: center;
	text-decoration:none;
	z-index: 9999;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	}
	
#pageTop:hover{
	background: #8BC34A;
	color: #fff;
	-webkit-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
	transition: all 0.3s ease;
	}
	
/*  Футтер */
footer{
	width: 100%;
	float: left;
	clear: both;
	margin-top: 10px;
	background: #689F38;
	color: #fff;
}

#footer {
	width: 950px;
	margin: 20px auto 0 auto;
	font-size: 85.7%;
}

@media screen and (max-width: 767px) {
#footer{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
}

.fLogo {
	width: 30%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
}

.add {
	width: 100%;
	float: left;
	clear: both;
	padding: 0 0 20px 0;
}

	.addLeft {
		width: 30%;
		float: left;
	}

	.add a {
		color: #fff;
		text-decoration: underline;
	}

@media screen and (max-width: 767px) {
		.addLeft:nth-child(2n) {
			margin-left: 20px;
		}
}

/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
 /* IE6 */
* html .clearfix { zoom: 1;}
 /* IE7 */
*:first-child+html .clearfix {zoom: 1;}

.border0 {
	border: none !important;
}