/* header */
header {
	width: 100%;
	background: #8BC34A; 
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.header {
	background: #8BC34A;
	max-width: 950px;
	margin: auto;
	padding: 30px 10px 80px 10px;
	text-align: center;
	
}

a {
	text-decoration: none;
	color:#61ac2a;
}

a:hover {
	text-decoration: none;
	color:#61ac2a;
}

a#mail, #tel {
		text-decoration: none;
		color: #757575;;
	}

	/* Название программы Логотипы */
#logo {
	font-family:'Abril Fatface', cursive; 'Russo One', sans-serif;
	padding: 20px 25px 5px 0;
	color: #FFF;
	font-size:70px;
}

#logo2 {
	font-family:'Abril Fatface', cursive;'Russo One', sans-serif;
	padding-top: 25px;
	color: #DCEDC8;
	font-size:25px;
}
#logo3 {
	font-family:'Abril Fatface', cursive;'Russo One', sans-serif;
	color: #DCEDC8;
	font-size:25px;
}
#minilogo	{
	display: none;
	font-family:'Abril Fatface', cursive;'Russo One', sans-serif;
	background: #8BC34A;
	padding: 15px 0 10px 0;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
	z-index: 9999;
}

/* Header end */