/*Изображения*/

a img {
	border:none;
	vertical-align: middle;
}

/* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

.galery	{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.galaryelement	{
	flex: 30%;
	max-width: 280px;
	border: 1px solid rgba(0,0,0,.14);
	margin: 10px 4px;
}

.galaryelement img	{
	vertical-align: middle;
	box-shadow: none !important;
}

.galaryelement p	{
	padding: 7px;
}

@media screen and (max-width: 800px){
	.galaryelement	{
		flex: 50%;
		max-width: 48%;
	}
}

@media screen and (max-width: 600px){
	.galaryelement	{
		flex: 100%;
		max-width: 100%;
	}
}

/*class для картинок с закруглением*/
img.pic {
	max-width: 100%;
	margin: 5px 0 5px 0;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

#logo_uni	{
	max-width: 400px;
	width: 100%;
	margin: 5px 0 5px 0;
	border: 1px solid rgba(0,0,0,.14);
}



#MainBild	{
	max-width: 400px;
}

/* Конец изображения*/