@charset "UTF-8";
/*サイト設定-------------------------------------------------------------------------------------------------------------*/
h3 {
	margin-bottom: 10px;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 0;
}

.address .Img {
	float: left;
	width: 42%;
}
.address .Img img { width: 100%; }
.address .Detail {
	float: right;
	width: 55%;
	font-size: 14px;
	line-height: 1.5;
}
.address ul {
	padding-top: 10px;
	width: 45%;
}

.googleMap {
	margin: 20px 0 0;
	width: 100%;
	height: 300px;
}

.ad2 {
	margin-top: 50px;
}


@media screen and (max-width: 768px){
	h3 {
		margin-bottom: 2.5%;
		font-size: 4vw;
		font-weight: normal;
		letter-spacing: 0;
	}
	.address .Img {
		float: none;
		width: 100%;
		margin-bottom: 2.5%;
	}
	.address .Detail {
		float: none;
		width: 100%;
		font-size: 14px;
		line-height: 1.5;
	}
	.address ul {
		margin: 0 auto;
		padding-top: 2.5%;
		width: 90%;
	}
	.googleMap {
		margin: 5% 0 0;
		width: 100%;
		height: 250px;
	}
	.ad2 {
		margin-top: 10%;
	}
}